[submodule "uWebSockets"]
	path = third_party/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "protocol"]
	path = protocol
	url = https://github.com/ophiuchus2/protocol.git
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "third_party/soci"]
	path = third_party/soci
	url = https://github.com/SOCI/soci.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/boost_uuid"]
	path = third_party/boost_uuid
	url = https://github.com/boostorg/uuid.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
